@page "/feed/{categorySlug}/{target}"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using GitRssReader.Web.UnreadFeedUseCase
@using SimpleFeedReader
@inject FeedsCollectionProvider FeedsProvider
@inject IDbContextFactory<AppDbContext> DbFactory;
@inject IJSRuntime JS
@inject IDispatcher Dispatcher

<PageTitle>Feed @feedInfo.Title</PageTitle>

<h1>
    @feedInfo.Title <FluentAnchor Appearance="Appearance.Lightweight" Href="@feedInfo.SiteUrl.ToString()" Target="_blank">Acessar o site</FluentAnchor>
</h1>

<p>@feedInfo.Description</p>

<FluentButton IconStart="@(new Icons.Regular.Size20.MailReadMultiple())" OnClick="@(() => MarkAsReadAsync())">Marcar como lido</FluentButton>
<FluentButton Appearance="@(onlyRead ? Appearance.Stealth : Appearance.Outline)" IconStart="@(new Icons.Regular.Size20.MailRead())" OnClick="@(() => FilterOnlyRead())">Ver somente lidos</FluentButton>
<FluentButton Appearance="@(onlyUnread ? Appearance.Stealth : Appearance.Outline)" IconStart="@(new Icons.Regular.Size20.MailUnread())" OnClick="@(() => FilterOnlyUnread())">Ver somente não lidos</FluentButton>

@if (entries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentDataGrid Items="@entries.AsQueryable()">
        <TemplateColumn Title="Título">
            <FluentButton Appearance="@(context.IsRead ? Appearance.Stealth : Appearance.Lightweight)"
            OnClick="@(() => OpenLinkAsync(context.Url))">
                @context.Title
            </FluentButton>
        </TemplateColumn>
        <PropertyColumn Title="Data de publicação" Property="@(a => a.PublishedDate)" Format="dd/MM/yyy" />
    </FluentDataGrid>
}

@code {
    [Parameter]
    public required string CategorySlug { get; set; }

    [Parameter]
    public required string Target { get; set; }

    List<Article>? entries = null;
    FeedEntry feedInfo = default!;
    private bool onlyUnread = true;
    private bool onlyRead = false;

    protected override async Task OnParametersSetAsync()
    {
        entries = null;
        var cat = FeedsProvider.Data.FirstOrDefault(x => x.Slug == CategorySlug);
        feedInfo = cat!.Feeds.First(x => x.Slug == Target);

        using var context = await DbFactory.CreateDbContextAsync();
        entries = await context.Articles
            .Where(x => x.FeedSlug == Target && !x.IsRead)
            .OrderByDescending(x => x.PublishedDate)
            .ToListAsync();
    }

    public async Task OpenLinkAsync(string url)
    {
        await JS.InvokeVoidAsync("open", url, "_blank");
    }

    public async Task MarkAsReadAsync()
    {
        await FilterOnlyUnread();

        var action = new MarkFeedAsReadAction(Target);
        Dispatcher.Dispatch(action);
    }

    public async Task FilterOnlyUnread()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        entries = await context.Articles
            .Where(x => x.FeedSlug == Target && !x.IsRead)
            .OrderByDescending(x => x.PublishedDate)
            .ToListAsync();

        onlyRead = false;
        onlyUnread = true;
    }

    public async Task FilterOnlyRead()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        entries = await context.Articles
            .Where(x => x.FeedSlug == Target && x.IsRead)
            .OrderByDescending(x => x.PublishedDate)
            .ToListAsync();

        onlyRead = true;
        onlyUnread = false;
    }
}