@page "/feed/{categorySlug}/{target}"
@attribute [StreamRendering]
@using SimpleFeedReader
@inject FeedsCollectionProvider FeedsProvider

<h1>@feedInfo.Title</h1>

<p>@feedInfo.Description</p>
<FluentAnchor Appearance="Appearance.Lightweight" Href="@feedInfo.SiteUrl.ToString()">Acessar o site</FluentAnchor>

@if (entries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentDataGrid Items="@entries.AsQueryable()">
        <TemplateColumn Title="Título">
            <FluentAnchor Appearance="Appearance.Hypertext" Href="@context.Uri.ToString()">@context.Title</FluentAnchor>
        </TemplateColumn>
        <PropertyColumn Title="Data de publicação" Property="@(a => a.PublishDate)" Format="dd/MM/yyy" />
    </FluentDataGrid>
}

@code {
    [Parameter]
    public required string CategorySlug { get; set; }

    [Parameter]
    public required string Target { get; set; }

    List<FeedItem>? entries = null;
    FeedEntry feedInfo = default!;

    protected override void OnParametersSet()
    {
        var cat = FeedsProvider.Data.FirstOrDefault(x => x.Slug == CategorySlug);

        feedInfo = cat!.Feeds.First(x => x.Slug == Target);
        
        var reader = new FeedReader();
        entries = reader.RetrieveFeed(feedInfo.XmlUrl.ToString()).ToList();
        StateHasChanged();
    }
}